.flex-container {
    display: flex;
    justify-content: space-between;
}
.flex-container > .box{
    background-color:antiquewhite;
    width: 500px;
    height: 500px;
    margin: 50px;
    padding: 5%;
    font-size: 40px;
    box-shadow: 10px 10px rgb(220, 223, 224);
}
.box:hover{
    background-color: aqua;
}